:root {
    --bg:#f1f5fa;
    --header:#fbf4f6;
    --text:#2e2e2f;
    --white:#ffffff;
    --light-grey:#c4cad3;
    --tag-1:#e8e1bd;
    --tag-1-text:#2e66ba;
    --tag-2:#d6ede2;
    --tag-2-text:#13854e;
    --tag-3:#ceecfd;
    --tag-3-text:#2d86ba;
    --tag-4:#f2dcf5;
    --tag-4-text:#a734ba;
    --purple:#7784ee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

pre {
	white-space: pre-wrap; /*css-3*/
	white-space: -moz-pre-wrap; /*Mozilla,since1999*/
	white-space: -pre-wrap; /*Opera4-6*/
	white-space: -o-pre-wrap; /*Opera7*/
	word-wrap: break-word; /*InternetExplorer5.5+*/
}
.app {
    background-color: #efeeee2d;
    /* background-color: transparent; */
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.project {
    padding: 2rem;
    width: 95%;
    display: block;
  }

.project-tasks {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    
    width: 100%;
    grid-column-gap: 1.5rem;
  }

.project-column-heading {
  margin-bottom: 1rem;
  height: 30px;
  padding-left: 10px;
  border-radius: 8px;
}
.project-column-heading__title {
    font-size: 20px;
}
#project-done .project-column-heading{
    background-color: #ccf2c8;
}
#project-doing .project-column-heading{
    background-color: #fee6ac;
}
#project-unfinish .project-column-heading{
    background-color: #fce7e9;
}
#project-todo .project-column-heading{
    background-color: #cfddfe;
}
.addTaskCard{ 
    transform: translateY(35px);
} 
.project-column-heading__options {
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    color: var(--purple);
    font-size: 18px;
    cursor: pointer;
    margin: 0 0.2rem;
    border: 0;
    outline: 0;
    border-radius: 100rem;
    left: 0;
}
.project-column-heading__options:hover{
  background: var(--light-grey);
  transform: scale(1.05);
}
.project-column-heading__options:active {
  transform: scale(0.85);
}




.task {
  opacity: 0.7; /*初始时透明度为0 */
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    height: 110px;
    box-shadow: 8px -1rem  1rem rgba(36, 35, 35, 0.16);
    margin-bottom: 1rem;
    transition: .5s;
    position: relative;
    border: 1px solid rgb(225, 215, 215);
    
  }

.task:focus-within~.task, .task:hover~.task {
    transform: translateY(20px);
  }

.task:hover {
    background-color: var(--bg);
    transform: translateZ(50px);
    transform: translateX(-1rem);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    opacity: 1;
}
.task:not(:first-child) {
  margin-bottom: -20px;
}

.task p {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

.task__tag {
    position: absolute;
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 14px;
    font-weight: bold;
  }
.task__tag--unfinish {
    color: var(--tag-4-text);
    background-color: var(--tag-4);
  }
.task__tag--doing {
  color: #865f04;
  background-color: #f9e8bf ;
  }
.task__tag--done {
    color: var(--tag-2-text);
    background-color: var(--tag-2);
  }
.task__tag--todo {
    color: var(--tag-1-text);
    background-color: #2962b826;
    ;
  }
.task__tags {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.task__options {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 15px;
    height: 15px;

    background-image: url("img/setting.png");
    background-size: contain;
    border: 0px none var(--light-grey);
    border-radius: 100rem;
    color: var(--light-grey);
}
.task__options:hover{
    transform: scale(1.2);
}
.task__options:active {
    transform: scale(0.9);
}
.task__stats {
    position: absolute;
    top: 80px;
    left: 15px;
 
    width: 92%;
    color: var(--light-grey);
    font-size: 12px;
  }
.task__stats span:not(:last-of-type) {
    margin-right: 1rem;
  }
.task__stats svg {
    margin-right: 5px;
  }

/* --------------------------- 添加任务 --------------------- */
.addTask{
    width:  450px;
    height: 420px;
    padding: 1rem 2rem;
    left: 500px;
    top: 200px;
    float: left;
    position: absolute;
    display: none;
    cursor: move;
}
.addTask.visible{
  display: block;
}
.task-setting{
    padding: 1rem;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden; 
    display: none;
}
.task-setting.visible {
  display: inline-block;
}
#submit_task{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

#submit{
    background-color: transparent;
    height: 25px;
    width: 45px;
    padding: 0px 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); 
    border: 1px solid  #08a0f7;
    color: #08a0f7;
    border-radius: 5px;
    
  }
#submit:hover{
    transform: scale(1.05);
}
#submit:active {
    transform: scale(0.95);
}

#update{
    background-color: #41cf8849;
    height: 25px;
    width: 45px;
    padding: 0px 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); 
    border: 1px solid  #13854e;
    color: #13854e;
    border-radius: 5px;
    
  }
#update:hover{
    transform: scale(1.05);
}
#update:active {
    transform: scale(0.95);
}

.tag-progress {
    margin: 1.5rem 0;
  }
.tag-progress h2 {
    font-size: 16px;
    margin-bottom: 1rem;
}
.tag-progress p {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
  
.tag-progress p span {
    color: rgb(180, 180, 180);
  }
.tag-progress p select{
    height: 30px;
    width: 250px;
}
.tag-progress p select:focus{
    border-color: #08a0f7;
    border-width: 2px;
}


.tag-Preview{
  margin: 1rem 0;
}
.tag-Preview p .pt {
  color: rgb(180, 180, 180);
  line-height: 1.2rem;
}

.pcontent{
  padding-bottom: 20px;
}
.pcontent h1,h2,h3,h4,h5,h6{
  margin-top: 5px;
  margin-bottom: 3px;
}
 .pcontent p{
  margin-top: 5px;
  line-height: 1.5; 
}

.tag-Preview ol{
  padding-left: 18px;
  list-style-type: decimal;
  font-family: "Times New Roman", sans-serif;
  margin-top: 3px; 
}

.tag-Preview ul{
  padding-left: 18px;
  list-style-type: circle;
  font-family: "Times New Roman", sans-serif;
  margin-top: 3px; 
}


.tag-Preview li{
  margin-top: 7px; 
  position: relative;
}

#taskname {
    width: 250px;
    height: 30px;
    border-radius:5px;
    border: 1px solid  #2e2e2f;
    outline: none;
}
#taskname:focus {
    border-color: #08a0f7;
    border-width: 2px;
}
#taskcontent {
    width: 250px;
    height: 220px;
    border-radius:5px;
    border: 1px solid #2e2e2f;
    outline: none;
    resize: none;
}
#taskcontent:focus {
    border-color: #08a0f7;
    border-width: 2px;
  }
.editPanel{
  margin:0;
    background-color: var(--white);
    width: 60px;
    height: 60px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border: 3px dashed transparent;
    display: block;
    flex-direction: column;
    top: 35px;
    right: 10px;
    float: right;
    position: relative;
    align-items: center;
    border-radius: 10px;
  }

.editPanel.hide{
    display: none;
}
.editPanel:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

.linkButton{
  border-radius: 5px;
  background-color: #ffffff;
  height: 35px;
  margin-top: 5px;
  border: none;
  transition: background-color 0.1s;
  color: #08a0f7;
  display: inline-block;
  font-size: 16px;
}
.linkButton:hover{
  transform: scale(1.05);
}
.linkButton:active {
  transform: scale(0.95);
}


.edbutton{
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 25px;
    margin-bottom: 0.2rem;
    border: none;
    transition: background-color 0.1s;
    color: #08a0f7;
    display: flex;
    align-items: center;
}
.editIcon{
  width: 15px;
  height: 15px;
  background-image: url("img/edit.png");
  margin-right: 5px; 

  opacity : '0.5';
}
.delbutton{
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 25px;
    margin-bottom: 0.2rem;
    border: none;
    transition: background-color 0.1s;
    color: #f70808;
    display: flex;
    align-items: center;
}
.delIcon{
  width: 15px;
  height: 15px;
  background-image: url("img/del.png");
  margin-right: 5px; 
  opacity : '0.5';
}
.edbutton:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
  
.delbutton:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.delbutton:active {
  transform: scale(0.95);
}
.edbutton:active {
  transform: scale(0.95);
}
.taskPreview{
    height: 400px;
    width: 350px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: var(--white);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    position: absolute;
}
@media only screen and (max-width: 900px) {
    .project-tasks {
      grid-template-columns: 50%;  
    }
    #project-doing, #project-done, #project-todo{
      margin-top: 80px;
    }
  }